.todo-app {
    width: min(80%, 1024px);
    padding: 20px 10px;
    background-color: #0c4a6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 0 auto;

}

.todo-app__header {
    color: #fff;
    padding-bottom: 20px;
}

.todo-app__input-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.task-input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #3b82f6;
    outline: none;
    font-size: 1.25rem;
}

.todo-app__list {
    width: 80%;
    margin-top: 10px;
    list-style: none;
}

.task {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    height: 80%;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: #4a7e9c;
}

.close-icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 9;
    font-size: 1.25rem;
}

.completed .circle {
    background-color: #3b82f6;
}

.completed span {
    text-decoration: line-through;
}

.completed .close-icon {
    text-decoration: line-through;
    pointer-events: none;
}
